/* public */

/* loading */
.loading {
    padding: 1rem;
}

.loading_contents {
    height: 200;
    display: "flex";
    flex-direction: column;
    justify-content: center;
}

/* side_bar */

.sideBar_header{
    justify-content: space-between !important;
    padding: 0px 8px 15px;
}
.NERA{
    padding-left: 10px;
}
.NERA h1{
    margin: 0!important;
}
.side_bar{
    background-color: rgb(201, 201, 201);
    height:100%;
    padding: 30px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    width: 100%;
    font-size: 1rem;
}
.header_menu{
    display: flex;
    margin-right: 15px;
    align-items: center;
}
.header_menu>*{
    padding-right: 5px;
}
.menu_field{
    display: flex;
}
.name_field{
    display: flex;
    align-items: center;
}
.name_field .name{
    font-weight: 600;
}

/* accountinfo */

.page_info{
    margin:10px;
}

/* PartBox */
.part_box{
    margin:5px 0;
    padding: 15px;
}
.part_title{
    margin-left: 8px!important;
    font-size: 1.5rem!important;
    font-weight: 600!important;
}
.part_component{
    padding: 10px;
}

/*assignment box*/
.assignment_rootbox{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: min-content;
}

.assignment_box{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 80px;
}
.assignment_box:last-of-type{
    margin-right:0;
}

.a_box_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a_box_title{
    font-weight: 600;
}

.problem_container {
    width: "100%";
    padding: 50px 0 50px 0;
}

.problem_description {
    padding: 10px;
    width: 100%;
}

.problem_description_viewer {
    flex-grow: 1;
}

.problem_title {
    font-weight: bold;
}

.problem_score {
    padding: 10px;
    float: right;
}

.problem_number {
    margin: 0 15px 0 0;
    font-weight: bold;
}

.problem_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.answer_content {
    padding: 15px;
}

/* markdown */

.editor_root {
    padding: 0.5rem;
    display: flex;
    height: 600px;
}
  
.editor_input_container {
    display: flex;
    flex-direction: column;
    width: 48.5% !important;
    height: 100%;
    margin-right: 1% !important;
}
  
.editor_input {
    width: 100% !important;
    overflow: auto;
}
  
.editor_viewer_container {
    display: flex;
    flex-direction: column;
    width: 48.5% !important;
    height: 100%;
    margin-left: 1% !important;
}
  
.editor_viewer {
    overflow: auto;
    height: 100%;
}

.markdown_viewer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.markdown_ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_paragraph {
    margin-block-end: 1em;
}

.markdown_blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
  
.markdown_table {
    border-spacing: 0;
    border-collapse: collapse;
}
  
.markdown_pre {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
}

.markdown_inline_code {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 4px;
}