/* pages 공통 요소 css */

#app>div{
    display: flex;
}
.side_bar{
    flex:2;
}
.right_side{
    flex:10;
}
html, body, #root, #app, #app>div{
    height: 100%;
}
a:hover{
    color:rgb(60, 60, 60);
}
.contents_side>div{
    flex-wrap: nowrap!important;
}
.contents_con{
    margin: 10px 0 25px;
}
.contents_title{
    font-weight: 600;
    margin-bottom: 10px;
}
.contents_title h6::before{
    content: "";
    border-left: 3px solid rgb(54, 54, 54);
    margin-right: 10px;
}
.contents_box{
    margin-right: 10px!important;
}
.save_container{
    align-self: right;
    width: max-content;
}
.save_component{
    margin-right: 20px;
    align-self: center;
}
.assignment_info_container {
    display: block;
}
.assignment_page_title {
    flex-grow: 1;
}
.assignment_page_header {
    display: flex;
    flex-wrap: wrap;
}
.table_root {
    width: 100%;
}
.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_con:focus{
    outline:none;
}

.score_field {
    width: 30px;
}

.scoring_controllers_container {
    width: min-content;
}

.scoring_page_title {
    flex-grow: 1;
}

.scoring_page_header {
    display: flex;
    flex-wrap: wrap;
}

.score_field {
    width: 30px;
    
}

.score_stats {
    width: 100%;
}

.query_caption {
    padding-top: 10px;
    padding-bottom: 10px;
}


/* Setting */

.s_assignment_rootbox{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.s_assignment_list{
    margin-bottom: 15px!important;
}
.s_assignment_name{
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.s_x_box{
    display: flex;
    align-items: center;
}

/* SetAssignment */
.setting_as_con>*{
    margin-bottom:10px;
}
.admin_question_con>div{
    cursor: pointer;
    padding: 10px;
}
.admin_question_con{
    margin: 10px 0;
}
.assignment_saveinfo_con{
    margin-left: auto;
}
.assignment_saveinfo{
    float: right;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: stretch;
    border: 1px solid lightgray;
    padding: 10px 15px;
    border-radius: 7px;
}
.setting_as_row .MuiFormControl-root {
    width:100%;
}
.setting_as_row>div {
    width: 45%;
    margin-right: 5%;
}

/* SetStudentList */
.student_list_con{
    margin: 0 1% 10px 0;
}
.student_list_con:hover{
    cursor: pointer;
}
.student_list_con button{
    width: 100%;
    border: 1px solid #dedede;
}
.list_field_con{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.invalid_student{
    color: red!important;
}
.circle_icon{
    margin-right: 5px;
}

/* modal */
.modal_form{
    padding:10px;
}
.modal_input_field{
    margin: 10px!important;
}
.modal_con{
    margin: 20px;
    padding: 30px;
    max-width: 70%;
}
.modal_students{
    width: 100%;
}

.scoring_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_text {
    margin: 0 10px 0 10px;
}


/*login*/
.Login{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF1ED;
}

.login_paper {
    max-width: 600px;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
}

.login_logo {
    width: 100%;
    padding: 4rem 6rem 0.5rem 6rem;
}

.login_subtitle {
    padding: 0 0 2.5rem 0;
}

.login_sign {
    display: flex;
    justify-items: center;
    align-items: center;
}

.login_sign>a {
    color: #ff844e;
    cursor: pointer;
    font-weight: bold;
    margin-right: 5px;
}

.regiter_sign {
    padding: 0.5rem 0 0 0;
}

.login_divider {
    width: 80%;
    padding-bottom: 1rem;
}

.login_container>div{
    margin: 10px;
}

.login_button {
    width: 60%;
    margin: 0 0 1rem 0 !important;
}

.login_test {
    margin: 0.25rem 0.25rem 2rem 0.25rem !important;
}

/* button */
.add_button{
    background: rgb(204, 204, 204)!important;
}
.add_button:hover{
    background: rgb(180, 180, 180)!important;
}
.x_button{    
    background: gainsboro!important;
}
.x_button:hover{
    background: rgb(204, 204, 204)!important;
}
.add_button, .x_button{
    width: 130px;
    text-align: center;
}
.add_button p, .x_button p{
    padding: 10px 0;
}
.save_button{
    background-color: rgb(180, 180, 180)!important;
}
.add_button button{
    width: 100%;
    padding: 0;
}



/*box layout*/
.box_layout{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box_container{
    width: 99%!important;
    display: flex;
    margin-bottom: 10px!important;
}

@media screen and (min-width: 768px) {
    .box_container{
        width: 49.5%!important;
    }
}

@media screen and (min-width: 1024px) {
    .box_container{
        width: 33%!important;
    }
}

.box_content{
    width: 85%;
}
.box_link{
    width:100%;
    margin-bottom: 30px;
}
.box_link>*{
    padding: 20px 15px;
}
.box_button{
    width: 100%;
    padding: 0!important;
}
.box_name{
    width: 100%;
    padding: 20px 15px;
}
.student_box{
    width: 25%!important;
    margin-bottom: 20px!important;
}
.student_box_con{
    align-items: center;
}