/* pages 공통 요소 css */

#app>div{
    display: flex;
}
.side_bar{
    flex:2;
}
.right_side{
    flex:10;
}

html, body, #root, #app, #app>div{
    height: 100%;
}

a:hover{
    color:rgb(60, 60, 60);
}

.contents_side>div{
    flex-wrap: nowrap!important;
}
.contents_con{
    margin: 10px 0 25px;
}
.contents_title{
    font-weight: 600;
    margin-bottom: 10px;
}
.contents_title h6::before{
    content: "";
    border-left: 3px solid rgb(54, 54, 54);
    margin-right: 10px;
}

.save_container{
    align-self: right;
    width: max-content;
}

.save_component{
    margin-right: 20px;
    align-self: center;
}

.assignment_page_title {
    flex-grow: 1;
}

.assignment_page_header {
    display: flex;
    flex-wrap: wrap;
}

.assignment_info {
    padding: 40px 10px 0px 10px;
}

.table_root {
    width: 100%;
}

.modal{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal_con:focus{
    outline:none;
}

.score_field {
    width: 30px;
}

.scoring_controllers_container {
    width: min-content;
}

.scoring_page_title {
    flex-grow: 1;
}

.scoring_page_header {
    display: flex;
    flex-wrap: wrap;
}

.score_field {
    width: 30px;
    
}




/* Setting */

.s_assignment_rootbox{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.s_assignment_box{
    width:100%;
    margin-bottom: 30px;
}
.s_assignment_box>*{
    padding:10px 20px;
}

/* SetAssignment */
.setting_as_con>*{
    margin-bottom:10px;
}
.admin_question_con>div{
    cursor: pointer;
    padding: 10px;
}
.admin_question_con{
    margin: 10px 0;
}

/* SetStudentList */
.student_list_con{
    margin: 0 1% 10px 0;
}
.student_list_con:hover{
    cursor: pointer;
}
.student_list_con button{
    padding:10px;
}
.list_field_con{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

/* modal */
.modal_form{
    padding:10px;
}
.modal_input_field{
    margin: 10px!important;
}
.modal_con{
    margin: 20px;
    padding: 10px;
    max-width: 50%;
}

.scoring_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.score_text {
    margin: 0 10px 0 10px;
}


/*login*/
.Login{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_container>div{
    margin: 10px;
}

/* button */
.add_button{
    cursor: pointer;
}