#error-page{
	width: 100vw;
	height: 100vh;
	background: linear-gradient(0.4turn, #F1B1B1, white, #AAB9D6);
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	.error-con{
		width: 50vw;
		height: auto;
		border-radius: 1rem;
		background-color: white;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		.error-head{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2rem;
			img{
				width: 250px;
				margin-bottom: 2rem;
			}
			h2{
				margin-bottom: 1rem;
			}
		}
		.btn-con{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
}