/* material.js customizing */

.MuiDivider-root{
    background-color: rgb(118, 118, 118) !important;
}
.MuiTreeView-root{
    margin: 15px 0 !important;
}
.MuiTypography-root:target, .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label{
    background-color: rgb(180, 180, 180) !important;
}
.MuiDrawer-paper{
    background-color: rgb(230,230,230) !important;
}
#subheader{
    padding: 0px 0px 0px 20px;
    background-color: #b9b9b9;
    color: black;
}
.margin-top-64{
    margin-top:64px!important;
}
.MuiCollapse-container{
    padding-left: 12px;
}
.MuiTypography-h3{
    font-size: 2rem!important;
    font-weight: 600!important;
}
.makeStyles-paper-21:focus{
    outline: none;
}