
/* Color */
$red-pink: #c76464;
$baby-pink: #f7e8e7;
$navy: #374B73;

/* Media Query */
$mobile: 767px;
$pad: 1024px;

/* circle color */
$c-green : #6b9a68;
$c-orange : orange;
$c-red : #e05858;
$c-gray : darkgray;

/* variable */
$sideBar: 320px;
$header : 56px;