/* public */

/* loading */
.loading {
    padding: 1rem;
}

.loading_contents {
    height: 200;
    display: "flex";
    flex-direction: column;
    justify-content: center;
}

/* side_bar */
/**/
.side_bar_header{
    justify-content: space-between !important;
    margin-bottom: 10px;
}
.side_bar{
    padding: 30px;
}
.side_bar_logo{
    width: 85%;
}
.side_bar_close{
    width: 15%;
}
#subheader{
    padding: 0px 0px 0px 20px;
    background-color: #374B73;
    color: white;
}
.NERA img{
    width: 95%;
}
.side_bar_list_item svg{
    margin-right: 5px;
}
.drawer_height{
    height: 100%; /*전체 페이지 height 맞추는 요소 - 절대 삭제 x*/
}
.drawer_con>div::-webkit-scrollbar { width: 0 !important } /* 사이드바 스크롤 삭제 */
.drawer_con>div{
    background-color: #fff1ed;
    
}
/* Header */
/**/
header>div{
    background-color: #fff1ed;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    width: 100%;
    font-size: 1rem;
}
.header_menu{
    display: flex;
    align-items: center;
}
.header_menu>*{
    padding-right: 5px;
}
.menu_field{
    display: flex;
}
.name_field{
    display: flex;
    align-items: center;
}
.name_field .name{
    font-weight: 600;
}

/* accountinfo */

.page_info{
    margin:10px 0;
}

/* PartBox */
.part_box{
    margin:5px 0;
    padding: 15px;
}
.part_title{
    margin-left: 8px!important;
    font-size: 1.5rem!important;
    font-weight: 600!important;
}
.part_component{
    padding: 10px;
}

/*assignment box*/
.assignment_rootbox{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: min-content;
}

.assignment_box{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin-right: 1%;
    margin-bottom: 1%;
    height: 80px;
}
.assignment_box:last-of-type{
    margin-right:0;
}

.a_box_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a_box_title{
    font-weight: 600;
}

.problem_container {
    width: "100%";
    padding: 50px 0 50px 0;
}

.problem_description {
    padding: 10px;
    width: 100%;
}

.problem_description_viewer {
    flex-grow: 1;
}

.problem_title {
    font-weight: bold;
}

.problem_score {
    padding: 10px;
    float: right;
}

.problem_number {
    margin: 0 15px 0 0;
    font-weight: bold;
}

.problem_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    object-fit: cover;
}

.answer_content {
    padding: 15px;
    margin: 10px;
}

.answer_score {
    margin: 10px !important;
}

.score_control {
    padding: 15px;
}

.answer_select {
    min-width: 125px;
}

/* markdown */

.editor_root {
    padding: 0.5rem;
    display: flex;
}
  
.editor_input_container {
    display: flex;
    flex-direction: column;
    width: 48.5% !important;
    height: 100%;
    margin-right: 1% !important;
}
  
.editor_input {
    width: 100% !important;
}
  
.editor_viewer_container {
    display: flex;
    flex-direction: column;
    width: 48.5% !important;
    height: 100%;
    margin-left: 1% !important;
}
  
.editor_viewer {
    overflow: auto;
    height: 100%;
}

.markdown_viewer {
    line-height: 1.5;
}

.markdown_ol {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.markdown_paragraph {
    margin-block-end: 1em;
}

.markdown_emphasis {
    font-style: italic;
}

.markdown_strong {
    font-weight: bold;
}

.markdown_link:link {
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_link:visited {
    color: green;
    text-decoration: underline;
    font-weight: bold;
}
  
.markdown_link:hover {
    color: hotpink;
    text-decoration: underline;
    font-weight: bold;
}
  
.markdown_link:active {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.markdown_blockquote {
    padding: 0 1em;
    color: #6a737d;
    border-left: .25em solid #dfe2e5;
}
  
.markdown_table {
    border-spacing: 0;
    border-collapse: collapse;
}
  
.markdown_pre {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 16px;
}

.markdown_inline_code {
    background: #f6f8fa;
    border-radius: 6px;
    padding: 4px;
}

/* PageInfo.js */
.page_information{
    border-radius: 7px;
    background-color: lightgray;
    margin-top:10px!important;
}
.page_information p{
    padding : 15px;
}